.right-panel {
  flex: 1;
  padding: 20px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prize-item {
  font-size: 1.2em;
  color: #f1c40f;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  list-style-type: none;
  text-align: center;
}

.won-prize {
  background-color: green;
  color: #fff;
}

.current-prize {
  background-color: #f39c12;
  color: #fff;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.help-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.help-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-left: 5px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.help-button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}
