.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: #f39c12;
}

.header img {
  margin: 0 10px;
  width: 50px;
}

.logout-button {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0 10px;

  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}


